
     .navbar-brand {
        font-size:1.8em;
     }

     #topContainer {
		background-image:url("");
        height:400px;
        width:100%;
        background-size:cover;
     }

     #topRow {
        margin-top:80px;
        text-align:center;
        
     }

         #topRow h1 {
            font-size:300%;
         }

     .mainMsg {
        color:black;
     }

     .bold {
        font-weight:bold;
     }

     .marginTop {
        margin-top:30px;
     }

     .center {
        text-align:center;
     }

     .title {
        margin-top:100px;
        font-size:300%
     }

     #footer {
        background-color:#8FC3FC;
        padding-top:70px;
        width:100%;
     }

     #marginBottom {
        margin-bottom:30px;
     }

     #appRepo {
        width:250px;
     }
	 
table, td {
    border: 1px solid black;
}


	div.rcorners2 {
		border-radius: 1em;
		border: 12px solid #3399ff;
	}
